body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #78B4C7;
    color: white;
    padding: 15px;
}

.back-button {
    color: black;
    text-decoration: none;
    font-size: 24px;
    float: left;
    margin-left: 20px;
}


.mechanic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: #E8E2E2;
}

.mechanic-card {
    background: #78B4C7;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.appoint-btn {
    background:#78B4C7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.appoint-btn:hover {
    background: #a1d9ea;
}

/* Add responsiveness for small screens */
@media (max-width: 600px) {
    .mechanic-card {
        width: 100%; /* Full width for small screens */
    }
}
